{% extends "./layout.html" %}

{% block content %}
<div class="page-content">

    <div class="row margin-top-12">
        <div class="col-md-12">
            {% include "./flashMessage_Success.html" %}
            {% include "./validationError.html" %}
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-key"></i>Change Password
                    </div>
                </div>

                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form class="changePassword-form" action="/dashboard/changePassword/" method="post" autocomplete="off">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>Current Password</b></label>
                                    <span class="star">*</span>
                                    <input type="password" name="currentPassword" placeholder="Current Password" maxlength="21" class="form-control password_field"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><b>New Password</b></label>
                                    <span class="star">*</span>
                                    <input type="password" id="newPassword" name="newPassword" placeholder="New Password" maxlength="21" class="form-control password_field"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><b>Confirm Password</b></label>
                                    <span class="star">*</span>
                                    <input type="password" name="confirmPassword" placeholder="Confirm Password" maxlength="21" class="form-control password_field"/>
                                </div>
                                <div class="form-actions">
                                    <input type="submit"  class="btn btn-success" value="Change Password" />
                                    <a href="/dashboard" class="btn default">
                                        Cancel </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END Form -->			
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}


<!-- include developer js file -->
<script src="/javascripts/developer.js"></script>


{% endblock %}

