{% extends "./layout.html" %} {% block content %}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        DashBoard
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <br/>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS -->


    <div class="row">
        <div class="col-md-4">
            <a class="more" href="/users">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b> {{users}} </b>
                        </div>
                        <div class="desc">
                            Total Users
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="more" href="#">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b> {{recommendations}} </b>
                        </div>
                        <div class="desc">
                            Total Reviews
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="more" href="/reviews">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b>{{reports}} </b>
                        </div>
                        <div class="desc">
                            Reported Reviews
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="more" href="/contact_us">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b>{{contact_us}} </b>
                        </div>
                        <div class="desc">
                            User Queries
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="more" href="#">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b>{{bookmarks}} </b>
                        </div>
                        <div class="desc">
                          Total bookmarks
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>

<!-- END DASHBOARD STATS -->
{% endblock %}


<!--
Javascript Block Begins
-->
{% block js %}


<!-- <script src="../../assets/global/plugins/flot/jquery.flot.pie.min.js"></script> -->
<!-- <script src="/javascripts/pie_chart.js"></script> -->

<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>

<!-- <script src="/javascripts/firebase_config.js"></script>

<script>
    firebase.auth().signInAnonymously().catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        if (errorCode === 'auth/operation-not-allowed') {
            alert(errorMessage);
        } else {
            console.error(error);
        }
    }); -->
</script> {% endblock %}

<!--
Javascript Block Ends
-->