<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>FriendSpire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css"
    />


    <!--bootstrap css file-->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME STYLES -->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/components.css')}}" id="style_components" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/layout.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/darkblue.css')}}" rel="stylesheet" type="text/css" id="style_color"
    />
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{getVersionedPath('/stylesheets/error.css')}}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->

    <!-- END THEME STYLES -->
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/favicon.ico">
    <link rel="icon" sizes="228x228" href="/images/icons/favicon.ico">
</head>

<body class="">
    <div class="main">
        <div style="height:120px; text-align:center;background-color:rgb(43,54,67)">
            <img src="/images/logo.png" style="padding-top:20px" align="middle" height="100px" class="" alt="">
        </div>
        <div class="container" style="color: white">
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <div class="content-page page-404">
                        <div class="number">
                            {{error.status}}
                        </div>
                        <div class="details" style="font-size: 18px; font-family: Times New Roman">
                            <h2 style="font-family: Times New Roman">{{message}}</h2>{% if show_return === 1 %}Login
                            <a href="/login" class="link">here</a>{% endif %}
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    <![endif]-->
      
    
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.cokie.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/metronic.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/layout.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/demo.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/quick-sidebar.js')}}" type="text/javascript"></script>
        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                QuickSidebar.init(); // init quick sidebar
                Demo.init(); // init demo features
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>