<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{{project_name}} | Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css"
    />
    <!--bootstrap css file-->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{getVersionedPath('/stylesheets/error.css')}}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{getVersionedPath('/assets/layout/stylesheet/components-md.css')}}" id="style_components" rel="stylesheet" type="text/css"
    />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/layout.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{getVersionedPath('/assets/layout/stylesheet/darkblue.css')}}" rel="stylesheet" type="text/css" id="style_color"
    />
    <!-- END THEME STYLES -->
    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{{fav_icon_path}}">
    <link rel="apple-touch-icon" href="{{fav_icon_path}}">
    <link rel="icon" sizes="228x228" href="{{fav_icon_path}}">
</head>

<body class="">
    <div class="main">
        <div style="height:120px; text-align:center;background-color:rgb(43,54,67)">
            <img src="{{logo_path}}" style="padding-top:20px" align="middle" height="100px" class="" alt="">
        </div>
        <div class="container" style="color: white">
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <div class="content-page page-404">
                        <div class="number">
                            {{error.status}}
                        </div>
                        <div class="details">
                            <h1>Oops! You're lost.</h1>
                            <p>
                                {{error.message}}
                                <br>
                                <a href="/dashboard" class="link">Return home</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    <![endif]-->
        <script src="{{getVersionedPath('/assets/layout/javascript/metronic.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/layout.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/index.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/tasks.js')}}" type="text/javascript"></script>
    
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.cokie.min.js')}}" type="text/javascript"></script>
        <!-- add jquery validation script-->
        <script src="{{getVersionedPath('/assets/layout/javascript/jquery.validate.min.js')}}" type="text/javascript"></script>
        <script src="{{getVersionedPath('/assets/layout/javascript/additional-methods.min.js')}}" type="text/javascript"></script>
     <script src="{{getVersionedPath('/assets/layout/javascript/quick-sidebar.js')}}" type="text/javascript"></script>
    
    
       
        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                QuickSidebar.init(); // init quick sidebar
                // Demo.init(); // init demo features
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>