<div class="page-footer">         
    <div class=""  style="text-align:center;color:white">
        <center> Copyright &copy; <span id="year">2018</span> {{copyright_project_name }}</center>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>