<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <script src="/javascripts/browser-deeplink.js"></script>
        <script type="text/javascript">
            deeplink.setup({
                iOS: {
                    storeUrl: "https://itunes.apple.com/app/cheapo-casino-free-casino/id637522371?ls=1&mt=8"
                },
                android: {
//                    appId: "com.facebook.katana",
                    storeUrl: "https://play.google.com/store/apps/details?id=com.facebook.katana"
                }
            });
            function clickHandler(uri) {
                deeplink.open(uri);
                return false;
            }
            window.onload = function () {
                var token = document.getElementById("token").innerHTML;
                document.getElementById("token").innerHTML = "";
                deeplink.open("spotmeappinvite://" + token);
            };

        </script>
    </head>
    <body>
        <div id="token">{{token}}</div>
    </body>
</html>
