{% extends "../layout.html" %}
{% block css %}
{% endblock%}

{% block content %}
<div class="page-content">
    <div class="row margin-top-12">

        <div class="col-md-12">
            {% include "../validationError.html" %}
            {% include "../flashMessage_Success.html" %}
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Edit Category
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form class="category-form"  action="/category/edit/{{category.id}}" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>Category Name</b></label>
                                    <span class="star">*</span>
                                    <input class="form-control" type="text" autocomplete="off" placeholder="Category Name" name="name" value="{{category.name}}"/>
                                    <label id="area-error" class="error" for="category_name"></label>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class="btn btn-success uppercase" value="Update">
                                    <a class="btn default" href="/category/">Cancel</a><br><br>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>	 
    </div>
</div>
{% endblock %}
{% block js %}
<script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/javascripts/developer.js" type="text/javascript"></script>

{% endblock %}
