<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead >
            <tr>
                <th width="5%">S.No.</th>								
                <th>Category Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <input type="text" id="action" name="action"  hidden>
        {% set curr = response.current-1  %}
        {% set index = curr*response.options.perPage+1  %}                                
        {% if response.results != "" %}
        {% for category in response.results %}	 
        <tr>							
            <td>{{index}}</td>	
            <td>{{category.name}}</td>
            <td>{% if category.status == 1  %}
                <a class="change_status btn btn-circle btn-icon-only btn-default" title="Inactivate" href="javascript:;" val="{{category.id}}" value="0"><i class="fa fa-circle" style="color:green"></i></a>
                {% else %}
                <a class="change_status btn btn-circle btn-icon-only btn-default" title="Activate" href="javascript:;" val="{{category.id}}" value="1"><i class="fa fa-circle" style="color:red"></i></a>
                {% endif %}</td>
            <td>
                <a class="btn btn-circle btn-icon-only btn-default" title="Edit" href="/category/edit/{{category.id}}"><i style="color:orange" class="fa fa-edit"></i></a> 
                <a  class="delete btn btn-circle btn-icon-only btn-default" title="Delete" deleteLink="/category/delete/{{category.id}}"><i style="color:red" class="fa fa-times"></i></a>
            </td> 
        </tr>
        {% set index=index+1 %}                                
        {% endfor %}
        {% else %}
        <tr><td colspan="10" class="text-center">No records to display</td></tr>
        {% endif %}																		
        </tbody>
    </table>
</div>
<div class="text-center">{% include "../paginate.html" %}</div><br><br>