<div class="table-responsive">
    <table class="table table-bordered table-hover" >
        <thead>
            <tr>
                <th>S.No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Category</th>
                <th width="15%">Review On</th>
                <th>Report Count</th>               
                <th width="10%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% set curr = response.current-1  %}
            {% set perPage = 10 %}
            {% set index = curr * perPage+1  %}         
            {%if response.results.data.length != 0   %}
            
            {% for review in response.results.data %}	 
            <tr>
                <td>{{index}}</td>
                {% if !review.user.firstName %}
                <td>--</td>
                {% else %}
                <td>{{review.user.firstName}} </td>
                {% endif %}
                {% if !review.user.lastName %}
                <td>--</td>
                {% else %}
                <td>{{review.user.lastName}}</td>   
                {% endif %}     
                {% if !review.recommend.type %}
                <td>--</td>
                {% elseif review.recommend.type == 1 %}
                <td>Restaurant</td>
                {% elseif  review.recommend.type == 2 %}
                <td>Bar</td>
                {% elseif  review.recommend.type == 3 %}
                <td>Movie</td>
                {% elseif  review.recommend.type == 4 %}
                <td>TV</td>
                {% elseif  review.recommend.type == 5 %}
                <td>Book</td>
                {% else %}
                <td>Others</td>
                {% endif %}
                {% if !review.post.title %}
                <td>--</td>   
                {% else %}
                <td>{{review.post.title}}</td>
                {% endif %}     
                {% if !review.count %}
                <td>--</td> 
                {% else %}                                         
                <td>{{review.count}}</td> 
                {% endif %}                                                                       
                <td width="15%">                      
                    <a href = "/reviews/review_detail/{{review._id.toString()?refer=/reviews}}"  class="anchor_username  btn btn-circle btn-icon-only btn-default" title="View detail" ><i style="color:green" class="fa fa-eye"></i></a>
                    <a deletelink="/reviews/delete/{{review.recommend._id.toString()}}" title="Delete" class="delete btn btn-circle btn-icon-only btn-default"><i class="fa fa-times" style="color:red"></i></a>
                    <a href="/reviews/appropriate/{{review._id.toString()}}" title="Appropriate" class=" btn btn-circle btn-icon-only btn-default"><i class="fa fa-thumbs-o-up " style="color:green"></i></a>
                </td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}					
            {% else %}
            <tr><td colspan="12" class="text-center">No records to display</td></tr>
            {% endif %}				
        </tbody>
    </table>
</div>
<div class="text-center">{% include "../paginate.html" %}</div><br><br>