{% extends "../layout.html" %}
{% block content %}
<div class="page-content">
    <div class="row margin-top-12">
        <div class="col-md-12">
            {% include "../validationError.html" %}
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-plus"></i>Add FAQ
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form class="faq-form" action="/faqs/add" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label"><b>Question</b></label>
                                    <span class="star">*</span>
                                    <input type="text" id="Question" name="heading" class="form-control" placeholder="Question" value="{{faqsData.heading}}">
                                    <span class="help-block">
                                    </span>
                                </div>
                                <div class="load form-group">
                                    <label class="control-label"><b>Answer</b></label>
                                    <span class="star">*</span>
                                    <textarea id="faq_description" name="faq_description" class="form-control ckeditor" placeholder="Answer">{{faqsData.description}}</textarea>
                                    <label id="faq_description-error" class="error" for="faq_description" rows="6" style="display: inline-block;"></label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><b>Status</b></label>
                                    <span class="star">*</span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="status" class="form-control">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class="btn btn-success uppercase" value="Create">
                                    <a class="btn default" href="/faqs/">Cancel</a><br><br>			
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="../../ckeditor/ckeditor.js"></script>
<script type="text/javascript">
addLoader(".load");
$(function () {
    CKEDITOR.replace('faq_description', {
        toolbar: [
            {
                name: 'basicstyles',
                items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
            },
            {
                name: 'paragraph',
                items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language']
            },
            {
                name: 'styles',
                items: ['Styles', 'Format', 'Font', 'FontSize']
            },
            {
                name: 'links',
                items: ['Link', 'Unlink', 'Anchor']
            },
            {
                name: 'document',
                items: ['Source']
            }
        ],on: {
        instanceReady: function() {
            removeLoader(".load");
        }
    }
    });
});


</script>
<script src="{{getVersionedPath('/javascripts/faq_validation.js')}}" type="text/javascript"></script>
{% endblock %}
